.gallery {
  padding: 42px 26px;
  overflow: hidden;
  width: 100%;
}

.gallery_title {
  width: 100%;
  text-align: center;
  margin-bottom: 42px;
  font-size: 32px;
  line-height: 42px;
}

.gallery_container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 24px;
}

.gallery_item {
  max-width: 396px;
  width: 100%;
}

.gallery_item__img {
  overflow: hidden;
  width: 100%;
  height: 330px;
  margin-bottom: 24px;
  cursor: pointer;
}

.gallery_item__img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease-in-out;
}

.gallery_item__img:hover > img,
.gallery_item__img:focus > img {
  transform: scale(1.2);
}

.gallery_item__title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 8px;
}

.gallery_item__subtitle {
  font-size: 17px;
  line-height: 27px;
  font-weight: 400;
}

@media (max-width: 768px) {
  .gallery_container {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 520px) {
  .gallery_container {
    grid-template-columns: auto;
  }

  .gallery_item {
    max-width: 520px;
  }
}